@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.rotate {
  animation: rotate 0.5s ease-in-out;
}

.rotate-reset {
  transform: rotate(0deg);
}